.scan-text {
  text-align: center;
  margin-bottom: 20px;
}

.qrcode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.url-text {
  text-align: center;
  font-size: 14px;
}
